#game-container{
  position: absolute;
  height: 295px;
  width: 612px;
  top: 100px;
  left: 384px;
  z-index: 0;
  background-image: url("../images/forest-background.png");
  animation: background-move 3s steps(60) infinite;
}

@keyframes background-move {
   100% { background-position: 0px 590px; }
}

#scooby{
  position: absolute;
  height: 84px;
  width: 38px;
  top: 300px;
  left: 660px;
  z-index: 1;
  background-image: url("../images/scooby-walk.png");
  animation: scooby-walk 1s steps(8) infinite;
}

@keyframes scooby-walk {
   100% { background-position: 0px 672px; }
}
